{% extends 'base.html' %}
{% load static %}
{% block head %}{% with tab_title='Despieces' %}{{ block.super }}{% endwith %}{% endblock head %}
{% block second_nav %}{% with selected='quartering' %}{{ block.super }}{% endwith %}{% endblock second_nav %}
{% block inner_title %} Listado de despieces {% endblock inner_title %}
{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-vcenter card-table">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Fecha</th>
                        <th>Ancho (cm)</th>
                        <th>Alto (cm)</th>
                        <th>Largo (cm)</th>
                        <th class="w-6"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="avatar me-2"
                                      style="background-image: url(./static/avatars/006m.jpg)"></span>
                                <div class="flex-fill">
                                    <div class="font-weight-medium">Nombre</div>
                                    <div class="text-muted">Descripcion</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>Fecha</div>
                        </td>
                        <td class="text-muted">
                            <div class="font-weight-medium">Ancho</div>
                        </td>
                        <td class="text-muted">
                            <div class="font-weight-medium">Alto</div>
                        </td>
                        <td class="text-muted">
                            <div class="font-weight-medium">Largo</div>
                        </td>
                        <td>
                            <a class="flex-fill" href="#">Ver piezas</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}