{% extends 'base.html' %}
{% load static %}
{% block head %}{% with tab_title='Despieces' %}{{ block.super }}{% endwith %}{% endblock head %}
{% block second_nav %}{% with selected='quotations' %}{{ block.super }}{% endwith %}{% endblock second_nav %}
{% block inner_title %} Despiece {% endblock inner_title %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="alert-icon" width="24" height="24"
                             viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l5 5l10 -10"></path>
                        </svg>
                    </div>
                    <div>
                        <h4 class="alert-title">{{ message }}</h4>
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-md-12 col-lg-12">
        <div class="row row-cards justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6"> <!-- Begin product card -->
                <div class="card">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-3">Producto:</dt>
                            <dd class="col-9">{{ quotation.product.name }}</dd>
                            <dt class="col-3">Descripción:</dt>
                            <dd class="col-9">{{ quotation.product.description|truncatechars:120 }}</dd>
                            <dt class="col-3">Alto:</dt>
                            <dd class="col-9">{{ quotation.high }}</dd>
                            <dt class="col-3">Ancho:</dt>
                            <dd class="col-9">{{ quotation.width }}</dd>
                            <dt class="col-3">Largo:</dt>
                            <dd class="col-9">{{ quotation.long }}</dd>
                            <dt class="col-3">Precio total:</dt>
                            <dd class="col-9"><strong>$ {{ quotation.total_price|floatformat:0 }}</strong></dd>
                        </dl>

                    </div>
                    <div class="ribbon ribbon-bottom bg-red">
                        <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                        </svg>
                    </div>
                </div>
            </div> <!-- Finish product card -->

            <div class="col-md-12"> <!-- Begin material no mesurable table card -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Materiales fijos</div>
                        <div>
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Precio unitario</th>
                                        <th>Cantidad</th>
                                        <th>Precio total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for quartering in quartering_no_mesurable_list %}
                                        <tr>
                                            <td>
                                                <div>{{ forloop.counter }}</div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar me-2"
                                                          style="background-image: url({{ quartering.composition__material__photo }})"></span>
                                                    <div class="flex-fill">
                                                        <div class="font-weight-medium">{{ quartering.composition__material__name }}</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="font-weight-medium">
                                                    $ {{ quartering.material_price|floatformat:0 }}</div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="font-weight-medium">{{ quartering.quantity_material }}
                                                    unidad{{ quartering.quantity_material|pluralize:",es" }}</div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="font-weight-medium">
                                                    $ {{ quartering.price|floatformat:0 }}</div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Finish material no mesurable table card -->

            <div class="col-md-12"> <!-- Begin material mesurable table card -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Materiales dinámicos</div>
                        <div>
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Ancho</th>
                                        <th>Alto</th>
                                        <th>Largo</th>
                                        <th>Precio total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for quartering in quartering_mesurable_list %}
                                        <tr>
                                            <td>
                                                <div>{{ forloop.counter }}</div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar me-2"
                                                          style="background-image: url({{ quartering.composition.material.photo.url }})"></span>
                                                    <div class="flex-fill">
                                                        <div class="font-weight-medium">{{ quartering.composition.material.name }}</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{ quartering.width }}</div>
                                            </td>
                                            <td>
                                                <div>{{ quartering.high }}</div>
                                            </td>
                                            <td>
                                                <div>{{ quartering.long }}</div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="font-weight-medium">
                                                    $ {{ quartering.composition.material.price|floatformat:0 }}</div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Finish material mesurable table card -->
        </div>
    </div>

{% endblock %}