{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    {% include "includes/head.html" %}
</head>
<body>
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img src="" height="36" alt=""></a>
        </div>
        {% if form.errors %}
            <p>Su email y contraseña no coinciden, favor intente nuevamente</p>
        {% endif %}
        <form class="card card-md" method="post">{% csrf_token %}
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Autenticarse en tu cuenta</h2>
                <div class="mb-3">
                    <label class="form-label">{{ form.username.label_tag }}</label>
                    {{ form.username }}
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        {{ form.password.label_tag }}
                        <span class="form-label-description">
                            <a href="./forgot-password.html" tabindex="-1">Olvidé mi contraseña</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        {{ form.password }}
                        <span class="input-group-text">
                  <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle
                            cx="12"
                            cy="12"
                            r="2"></circle><path
                            d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path></svg>
                  </a>
                </span>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input"/>
                        <span class="form-check-label">Recuérdame en este dispositivo</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </div>
            <div class="hr-text">Otros métodos de autenticación</div>
            <div class="card-body">
                <div class="row">
                    <div class="col"><a href="#" class="btn btn-white w-100">
                        <!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                        </svg>
                        Login con FaceBook
                    </a></div>
                    <div class="col"><a href="#" class="btn btn-white w-100">
                        <!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
                        </svg>
                        Login con Google
                    </a></div>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Aún no tienes una cuenta? <a href="{% url 'users_app:create_user' %}" tabindex="-1">Regístrate</a>
        </div>
    </div>
</div>
</body>
</html>